<div class="footer fixed-bottom">
	<div class="container">
		<div class="row  d-flex pt-20">
	 <div style="width:20%; text-align: center; line-height:30px">
		<img src="images/logo/Logo-footer.png" width="130">
		<div style="color: white;">
			متجر موثوق به تصميم وتصنيع الملابس للمشاغل اليدوية بأيدي فلسطينية
		</div>
	 </div>
	 <div style="width:13%;margin-right: 3%;">
		<ul style="line-height:30px">
			<li><a class="a" href="#">أقسام تهمّك</a></li>
			<li><a class="a"  href="#">خدمة العملاء</a></li>
			<li><a class="a"  href="#">انضم لنا</a></li>
			<li><a class="a"  href="#">الشروط والسياسات</a></li>
			<li><a class="a"  href="#">سياسة الخصوصية </a></li>
		</ul>

		
	 </div>
	 <div style="width:15%;margin-right: 2%;">
		<ul style="line-height:30px">
			<li><a class="a" href="#">إخرى</a></li>
			<li><a class="a"  href="#">من نحن</a></li>
			<li><a class="a"  href="#">سياسة الإرجاع والاسترداد النقدي</a></li>
			<li><a class="a"  href="#">سياسة الشحن</a></li>
			<li><a class="a"  href="#">عن الموقع </a></li>
		</ul>

		
	 </div>


<div style="width:18%;margin-right: 3%;">
<a class="a" href="#">التواصل الاجتماعي</a>
<div class="footer_social d-flex flex-row mt-10px">

<button type="button" class="btn   btn-circle"><i class="fa fa-whatsapp"></i></button>

<button type="button" class="btn   btn-circle"><i class="fa fa-snapchat"></i></button>

<button type="button" class="btn   btn-circle"><i class="fa fa-instagram"></i></button>

<button type="button" class="btn   btn-circle"><i class="fa fa-facebook"></i></button>

<button type="button" class="btn   btn-circle"><i class="fa fa-twitter"></i></button>

</div>
</div>

<div style="width:20%;margin-right: 5%">
<a class="a" href="#">تواصل معنا</a>
<div class=" d-flex flex-row mt-10px">
<button type="button" class="btn mt-3px  btn-circle"><i class="fa fa-map-marker"></i></button>
<ul class="l-h-li">
<li><a class="a cursor-pointer">العنوان</a></li>
<li><a class="a cursor-pointer">فلسطين - غزة - شارع عمر المختار</a></li>
</ul>
</div>
<div class=" d-flex flex-row mt-10px">
	<button type="button" class="btn mt-3px  btn-circle"><i class="fa fa-map-marker"></i></button>
	<ul class="l-h-li">
	   <li><a class="a cursor-pointer">الهاتف</a></li>
	   <li><a class="a cursor-pointer">+970 59123 4567</a></li>
   </ul>
	   </div>
</div>


	 
		</div>
		<div class="row pt-40" >
			<div class="col-6">
				<div class=" d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
<span class="text-white">		جميع الحقوق محفوظة لدى تراث فلسطيني © 2022 </span>
				</div>
			</div>
			<div class="col-6">
				<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
					<ul>
					 
						<li><a class="cursor-pointer opacity-07"><img src="images/icon/pay.png" width="50"></a></li>
						<li><a class="cursor-pointer opacity-07"><img src="images/icon/paypal.png" width="50"></a></li>
						<li><a class="cursor-pointer opacity-07"><img src="images/icon/mada.png" width="50"></a></li>
						<li><a class="cursor-pointer opacity-07"><img src="images/icon/masterCard.png" width="50"></a></li>
						<li><a class="cursor-pointer opacity-07"><img src="images/icon/visa.png" width="50"></a></li>
					 
						
					</ul>
				</div>
			</div>
		</div>
	</div>
 

 